extend ../layout
block content
    if data.action_buttons
        - var ab = data.action_buttons
        div
            each b in ab
                - var url = b.url('')
                a(href="#{url}", class="#{b.css_class}")
                    if b.name === 'create'
                        i.fa.fa-plus
                        span &nbsp; #{b.label}
                    else
                        span &nbsp; #{b.label}
    div.panel.colourable.mar_u20
        div.panel-body
            if data.extra_data
                if data.extra_data.before_table
                    include before_table
                    br
            if data
                if data.rows
                    if data.rows.length > 0
                        table.table.table-hover
                            thead
                                tr
                                    each h in data.columns
                                        th #{__(h.label)}
                            tbody
                                each row in data.rows
                                    - var cssClass=(row['cssClass']!==undefined)? row['cssClass'] : ''
                                    tr(class="#{cssClass}")
                                        each d in data.columns
                                            if d.type === 'button'
                                                td
                                                    - var url = d.url(row)
                                                    - var css_cl = d.css_class ? d.css_class : ''
                                                    if url
                                                        a(href="#{url}", class="#{css_cl}") #{__(d.btn_label(row))}
                                            else if d.type === 'compound-buttons'
                                                td
                                                    - var buttons = d.buttons;
                                                    each button in buttons
                                                        - var url = button.url(row)
                                                        - var css_cl = button.css_class ? button.css_class : ''
                                                        if url
                                                            a(href="#{url}", class="#{css_cl}", style="display: inline-block; margin-left: 5px") #{__(button.btn_label(row))}
                                            else
                                                td #{row[d.name]}
                    else
                        div
                            h3 #{__('No Records Found')}
                    if data.extra_data
                        if data.extra_data.after_table
                            - var view = data.extra_data.after_table.view
                            if view === 'reports/after_table'
                                include ../reports/after_table
    if data.rows
        if data.rows.length > 0
            include ../pagination
    if(data.viewOptions && data.viewOptions.is_dispute_table)
        script.

            $(function(){



                $(document.body).bind("mousemove keypress", function (e) {

                    time = new Date().getTime();

                });

                function refresh() {
                    var time = new Date().getTime();
                    //console.log(time);
                    setTimeout(refresh, 10000);
                }

                setTimeout(refresh, 10000);

            });