doctype html
html(lang="#{lang}")
    head
        meta(charset='utf-8')
        title #{title}
        meta(content="", name="description")
        meta(content="", name="author")
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/fonts/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/css/screen.css')
        link(rel='stylesheet', href='/css/print.css')
    body.theme-default
        div.wrapper
            include system
            div.wrapper-inner
                include header
                include filters
                div.no-connection.alert.alert-danger(style="display:none;")
                    p &nbsp;
                    h2 Internet Connection has been lost
                if can_check_tickets
                    div.col-sm-12.home
                        div.panel.box
                            div.panel-body
                                div.ticket-form.col-sm-12
                                    form.ticket-check.alert.alert-info(method="POST", action="/check")
                                        input(type='hidden', name="emp_id",value="#{user.user_id}")
                                        h1 Check Ticket Status
                                        hr
                                        p &nbsp;
                                        p &nbsp;
                                        p &nbsp;
                                        div.form-group.m-b-20.col-sm-8(style="padding-left:0;padding-right:0;")
                                            div.col-sm-12
                                                div.col-sm-5
                                                    input.form-control(type='text',data-context='state',autocomplete="off", maxlength="5", placeholder="Code", name="ticket", value="")
                                                div.col-sm-2.or
                                                    span OR
                                                div.col-sm-5
                                                    input.form-control(type='text',autocomplete="off",data-context='state', maxlength="10", placeholder="MPESA receipt", name="receipt", value="")
                                        div.text-right.action-buttons.col-sm-4
                                            button.btn.btn-lg.check.btn-primary(type="submit") #{__('Check')}
                                            a.btn.btn-lg.clear.btn-danger(href="#") #{__('Clear')}
                                        div(style="clear: both;")
                                    div.col-sm-12.alert.alert-success
                                        div.status.state-check
                                            div.col-sm-6.state
                                                p
                                                    span.ticket-status Status
                                            div.col-sm-6.info
                                                p
                                                    span.ticket-info
                                            div.col-sm-12
                                                - var _time = new Date().toLocaleDateString() + " " + new Date().toLocaleTimeString();
                                                p
                                                    span.time #{_time}
                                    div(style="clear: both;")
                if can_validate_ticket
                    div.col-sm-12.home
                        div.panel.box
                            div.panel-body
                                div.ticket-form.col-sm-12
                                    form.ticket-validate.alert.alert-info(method="POST", action="/validate")
                                        input(type='hidden', name="emp_id",value="#{user.user_id}")
                                        h1 Scan to Validate
                                        hr
                                        p &nbsp;
                                        p &nbsp;
                                        div.form-group.m-b-20.col-sm-8
                                            input.form-control(data-context='validation',type='text',required,autocomplete="off", maxlength="5", name="ticketcode", value="")
                                        div.text-right.action-buttons.col-sm-4
                                            button.btn.btn-lg.validate.btn-primary(type="submit") #{__('Check')}
                                            a.btn.btn-lg.clear.btn-danger(href="#") #{__('Clear')}
                                        div(style="clear: both;")
                                    div.col-sm-12.alert.alert-success
                                        div.status.validation-check
                                            div.col-sm-6.state
                                                p
                                                    span.ticket-status Status
                                            div.col-sm-6.info
                                                p
                                                    span.ticket-info
                                            div.col-sm-12
                                                - var _time = new Date();
                                                -    _time= _time.toLocaleDateString() + " " + _time.toLocaleTimeString();
                                                p
                                                    span.time #{_time}
                                    div(style="clear: both;")
                if can_sell_cash_tickets
                    div.col-sm-12.home
                        div.panel.box
                            div.panel-body
                                form#printshop.tickets(method="POST", action="/cash")
                                    input(type="hidden",name="type",value="manual")
                                    div.col-sm-12.alert.alert-info
                                        div.accounttypes.col-sm-6(style="padding-left:15px;")
                                            h1 Ticket Printing
                                            hr
                                            p &nbsp;
                                            p &nbsp;
                                            div.col-sm-12
                                                each price in prices
                                                    - var cols=Math.ceil(12/prices.length)
                                                    .pl0(class="col-sm-#{cols}")
                                                        input(type="radio",name="account_number",required,value="#{price.account_number}")
                                                        label #{price.price_key}
                                                div(style="clear: both;")
                                                p &nbsp;
                                                p &nbsp;
                                            div.col-sm-12
                                                div.col-sm-6
                                                    input(type="radio",name="show_generic",value="new")
                                                    label
                                                        span #{__('Print Generic Tickets (Non-CASH)')}
                                                    div.toggle.cm
                                                        hr
                                                        p(style="margin-top: 20px;")
                                                            input(type="radio",name="generic",value="mobile")
                                                            label #{__('Mobile')}
                                                        p(style="margin-top: 20px;")
                                                            input(type="radio",name="generic",value="complimentary")
                                                            label #{__('Complimentary')}
                                                        p(style="margin-top: 20px;")
                                                            input(type="radio",name="generic",value="vip")
                                                            label #{__('VIP tickets')}
                                                        p(style="margin-top: 20px;")
                                                            input(type="radio",name="generic",value="vvip")
                                                            label #{__('VVIP Tickets')}
                                                        p(style="margin-top: 20px;")
                                                            input(type="radio",name="generic",value="general")
                                                            label #{__('General Seats')}
                                                div.col-sm-6
                                                    input(type="radio",name="show_generic",value="exists")
                                                    label
                                                        span #{__('Print existing code')}
                                            div(style="clear: both;")
                                        div.ticket-form.col-sm-6(style="padding-right:15px;")
                                            h1 &nbsp;
                                            hr
                                            p &nbsp;
                                            p &nbsp;
                                            div.ticket-box.new.col-sm-12
                                                div.col-sm-4.pl0
                                                    button.btn.btn-lg.btn-block.minus.btn-danger(data-sign="-") #{__('-')}
                                                div.col-sm-4
                                                    input.form-control(type='number',autocomplete="off",required,placeholder="Enter..", name="ticketcount", value="")
                                                div.col-sm-4.pr0
                                                    button.btn.btn-lg.btn-block.plus.btn-info(data-sign="+") #{__('+')}
                                                div.col-sm-12
                                                    p &nbsp;
                                                    p &nbsp;
                                                    p &nbsp;
                                                    div.col-sm-8
                                                        button.btn.btn-lg.btn-block.print.new.btn-primary(type="submit") #{__('Print')}
                                                    div.col-sm-4.pr0
                                                        button.btn.btn-lg.btn-block.plus.btn-warning(onclick="document.getElementById('printshop').reset();") #{__('Reset')}
                                            div.ticket-box.exists.col-sm-12
                                                div.col-sm-8
                                                    input.form-control(type='text',autocomplete="off",placeholder="Code..", name="code", value="")
                                                div.col-sm-4.pr0
                                                    button.btn.btn-lg.btn-block.print.exists.btn-primary(type="submit") #{__('Print')}
                                        div(style="clear: both;")
                                        p &nbsp;
                                        p &nbsp;
                                        p &nbsp;

                else
                    #main
                        div
                            h1 Welcome to Movapay M-Ticket
                            hr
                            h4
                                | Please use the menus on top to navigate through the system. We strongly recommend that you change your password often and we remind you never to reveal your password to anybody.
                include footer
                button#printsilent.hide(onclick="window.print()",type="submit") #{__('Print')}
        #receipt
        script(src="/js/jQuery/jquery-1.11.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/typeahead.min.js")
        script(src="/js/async.min.js")
        script.
            var _data = (!{JSON.stringify(data)}).sort(function (a, b) {
                return a.id > b.id;
            });
            var _payments = (!{JSON.stringify(payments)}).sort(function (a, b) {
                return a.id > b.id;
            });
        script(src="/js/app.js")