extend ../layout

block brand
	if item_name
		| #{item_name}
block content
	if can_add
		a.btn.btn-primary(href="/#{space}/notification-group/create")
			i.fa.fa-plus
			span &nbsp;#{__('New Group')}
	div.panel.colourable.mar_u20
		div.panel-body
			if data
				if data.rows
					if data.rows.length > 0
						table.table.table-hover
							thead
								tr
									th #{__('Name')}
									th #{__('Country')}
									th #{__('No of Members')}
									if can_edit
										th
							tbody
								each row in data.rows
									tr
										td #{row.name}
										- var _country = row.country.toUpperCase()
										- var no_of_members = parseInt(row.template_count, 10) + parseInt(row.manual_count, 10)
										td #{_country}
										td #{no_of_members}
										if can_edit
											td
												a(href="/#{space}/notification-group/edit/#{row.id}")
													i.fa.fa-edit
													span &nbsp;#{__('Edit')}
												a(href="/#{space}/notification-group/members/#{row.id}", style="display: inline-block; margin-left: 10px;")
													i.fa.fa-edit
													span &nbsp;#{__('Members')}
												a(href="/#{space}/notification-group/templates/#{row.id}", style="display: inline-block; margin-left: 10px;")
													i.fa.fa-edit
													span &nbsp;#{__('Message Templates')}
					else
						div
							h3 No Records Found