extend ../layout
block content
    div.col-sm-9
        div.panel.colourable.mar_u20
            div.panel-body
                h2 #{__('Bulk Upload')}
                hr
                form.margin-bottom-0(action='#{url}', enctype="multipart/form-data", method='POST')
                    input(type="hidden" name="groupname" value="#{group_name}")
                    input(type="hidden" name="group_id" value="#{groupid}")
                    div.col-sm-12
                        .form-group.m-b-20
                            textarea.form-control(name="recipients", placeholder="#{__('Comma separated list of recipients')}")
                            em
                                | You may add other subscribers to this list by adding comma seperated list of numbers in the input above
                    div.col-sm-12
                        .form-group.m-b-20
                            label
                                | Upload a csv file
                            input(type="file" name="subscribers")
                            em
                                | Make sure the CSV file has 'phone' and 'name' as columns
                    div.text-right.action-buttons.clear.col-sm-12
                        button.btn.btn-primary(type='submit') #{__('Upload')}
                        a.btn.btn-danger(href="/#{space}/notification-group/members/#{groupid}") #{__('Cancel')}
    div.mar_u20.col-sm-3
        if message
            p.alert.alert-info #{message}
        if errors
            .alert.alert-danger
                ul.errors
                    each error in errors
                        li #{error.msg}
    .clear