extend ../layout
block content
    div.col-sm-9
        div.panel.colourable.mar_u20
            div.panel-body
                h2 #{__('Change your password')}
                hr
                form.margin-bottom-0(action='', method='POST')
                    div.col-sm-4
                        .form-group.m-b-20
                            input.form-control(type='password', name="current_password", placeholder="#{__('Current Password')}", autocomplete="off")
                    div.col-sm-4
                        .form-group.m-b-20
                            input.form-control(type='password', name="new_password", placeholder="#{__('New Password')}", autocomplete="off")
                    div.col-sm-4
                        .form-group.m-b-20
                            input.form-control(type='password', name="new_password_repeat", placeholder="#{__('Repeat Password')}", autocomplete="off")
                    div.text-right.action-buttons.clear.col-sm-12
                        button.btn.btn-primary(type='submit') #{__('Change your password')}
                        a.btn.btn-danger(href="/") #{__('Cancel')}
    div.error.mar_u20.col-sm-3
        if message
            p #{message}
        if errors
            ul.errors
                each error in errors
                    li #{error.msg}
    .clear