extend ../layout
block content
	div.col-sm-9
		div.panel.colourable.mar_u20
			div.panel-body
				h2 #{title}
				hr
				- var url = space + '/user/reset/' + user_id
				form(method="POST", action="/#{url}")
					input(type='hidden', name="userid",value="#{user.user_id}")
					div.col-sm-5
						.form-group.m-b-20
							label.control-label #{__('Password')}
							input.form-control(type='password', name="password", placeholder="#{__('Password')}")
					div.col-sm-5
						.form-group.m-b-20
							label.control-label #{__('Confirm Password')}
							input.form-control(type='password', name="password_c", placeholder="#{__('Confirm Password')}")
					div(style="clear: both;")
					div.col-sm-11
						div.text-right.action-buttons
							button.btn.btn-primary(type="submit") #{__('Change Password')}
							a.btn.btn-danger(href="/cci/users") #{__('Cancel')}
	div.error.mar_u20.col-sm-3
		if message
			p #{message}
		if errors
			ul.errors
				each error in errors
					li #{error.msg}